*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(45, 42, 42, 0.5), rgba(31, 29, 29, 0.5)), url('./image/fraise.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.py-5 {
    background-image: transparent;
}
.navbar-expand-lg{
    padding: 0;
    margin: 0;
}
.navbar-collapse{
    background-color: #490909;
}
.navbar-collaps{
    background-color: #490909;
    padding: 30px 0;
}
.cart-text {
    position: relative;
    left: 200px;
    top: 50px;
    z-index: 100;
    background:#F6E1C5;
}
.btn-primar{
    position: relative;
    top: 40px;
    padding: 10px 25px;
    background: #490909;
    color: #fff;
}
.font-family{
    font-family: sans-serif;
    line-height: 1px;
    font-size: 25px;
    letter-spacing:15px;
}
.nav-link{
    color: #fff;
    margin:  0 20px;
}
.car-text{
    background:#F6E1C5;
}
.cont{
    background: linear-gradient(rgba(73, 9, 9, 0.9), rgba(73, 9, 9, 0.8)), url('./image/fraise.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 50px;
}
/* about */
.carts-text{
    position: relative;
    bottom: 80px;
    background:#F6E1C5;
}
/* about exit */
/* store */
.conts{
    margin-top: 50px;
    background: linear-gradient(rgba(73, 9, 9, 0.9), rgba(73, 9, 9, 0.8)), url('./image/fraise.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 50px;
}
/* store exit */
@media screen and (max-width: 767px) {
    .cart-text {
        position: relative;
        left: 2px;
        top: -5px;
        z-index: 100;
        background:#F6E1C5;
    }
    .font-family{
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    .cusual{
       
    }
   /* about */
   .carts-text{
    position: relative;
    bottom: 0px;
    background:#F6E1C5;
    margin: 5px 0;
}
.imgabout img{
    height: 200px;
    object-fit: cover;
}
/* about */
}
@media screen and (max-width: 500px) {
   
    .font-family{
        font-family: sans-serif;
        font-size:12px;
        font-weight: bold;
    }
    .cusual{
       visibility: hidden;
    }
    /* about */
    .carts-text{
        position: relative;
        bottom: 0px;
        background:#F6E1C5;
        margin: 5px 0;
    }
    .imgabout img{
        height: 200px;
        object-fit: cover;
    }
    /* about */
}